// Body
$body-bg: #f8fafc

// Typography
$font-family-sans-serif: 'Nunito', sans-serif
$font-size-base: 0.9rem
$line-height-base: 1.6

// Colors
$primary: #0549a5
$secondary: #a90000
$orange: #ffb300
$yellow: #dfd500
$cyan: #00b9ff
